@media (min-width: 200px) and (max-width: 1060px) 
  .flexbox-container
    flex-wrap: wrap
  .keystats-row
    margin-bottom: 30px

@media all and (max-width: 1040px) 
  .keystats-row 
     display: block

@media all and (min-width: 1040px) 
  .keystats-row 
     display: flex

@media all and (max-width: 760px) 
  .news
    margin-top: 4rem
  .news,
  .overview,
  .top-peers
     margin-left: 1rem
  .overview-content
    padding: 1rem
  .keystats-row
    padding-right: 1rem