.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.info-container {
  margin-left: 0;
  margin-right: 0;
}

.price-information {
  width: 30%;
  text-align: right;
}

.main-container {
  padding: 1rem 2rem;
}

.Grid {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: nowrap;
}

.Grid--gutters {
  height: 50%;
}

.Grid-cell {
  width: 34%;
}

.Grid--1of3 > .main {
  width: 64%;
}
